# yamllint disable rule:line-length
---
repository:
    functions:
        patterns:
            - include: "#builtins"
            - include: "#user-defined"

        repository:
            builtins:
                patterns:
                    -
                        match: '\b({{ scopes["entity.name.function"] | join("|") }})\b\s*(?={|\()'
                        captures:
                            1:
                                name: entity.name.function.builtins.parigp
                    -
                        match: '\b({{ scopes["constant.language"] | join("|") }})\b\s*(\(\)|\{\}|\(\{\}\)|\{\(\)\})?'
                        captures:
                            1:
                                name: constant.language.parigp
                    -
                        match: '\b({{ scopes["keyword.control"] | join("|") }})\b'
                        captures:
                            1:
                                name: keyword.control.parigp
                    -
                        match: '\.({{ scopes["entity.name.function.member"] | join("|") }})\b'
                        captures:
                            1:
                                name: entity.name.function.member.builtins.parigp

            user-defined:
                patterns:
                    -
                        begin: '([[:alpha:]][[:alnum:]_]*)\b(?=\s*\(|\(\s*\{|\{\s*\()'
                        end: '(?<=$|=)'
                        beginCaptures:
                            1:
                                name: entity.name.function.user.parigp
                        name: meta.function.parigp
                        patterns:
                            -
                                begin: '(\()'
                                beginCaptures:
                                    0:
                                        name: punctuation.section.parens.begin.parigp
                                    1:
                                        name: punctuation.definition.parameters.begin.parigp
                                end: '(\))(?=\s*=)'
                                endCaptures:
                                    0:
                                        name: punctuation.section.parens.end.parigp
                                    1:
                                        name: punctuation.definition.parameters.end.parigp
                                name: meta.parameters.parigp
                                patterns:
                                    - include: '#parens'
                                    - include: '#function-vars'
                    -
                        begin: '([[:alpha:]][[:alnum:]_]*)\b(?=\s*=\s*[^\->]+\s*\-\s*>)'
                        end: '(?<=\->)'
                        beginCaptures:
                            1:
                                name: entity.name.function.user.lambda.parigp
                        name: meta.function.lambda.parigp
                        patterns:
                            - include: '#parens'
                            - include: '#function-vars'
                repository:
                    function-vars:
                        patterns:
                            -
                                match: '([[:alpha:]][[:alnum:]_]*)\s*'
                                captures:
                                    1:
                                        name: variable.parameter.function.parigp
                            -
                                match: ','
                                name: punctuation.separator.parigp
                            - include: '#type-hints'
