---
repository:
    functions:
        patterns:
            -
                # yamllint disable-line rule:line-length
                match: '\b({{ scopes["entity.name.function"] | join("|") }})\b\s*(?={|\()'
                captures:
                    1:
                        name: entity.name.function.builtins
            -
                # yamllint disable-line rule:line-length
                match: '\b({{ scopes["constant.language"] | join("|") }})\b\s*(\(\)|\{\}|\(\{\}\)|\{\(\)\})?'
                captures:
                    1:
                        name: constant.language
            -
                match: '\b({{ scopes["keyword.control"] | join("|") }})\b'
                captures:
                    1:
                        name: keyword.control
            -
                # yamllint disable-line rule:line-length
                match: '\.({{ scopes["entity.name.function.member"] | join("|") }})\b'
                captures:
                    1:
                        name: entity.name.function.member.builtins

            -
                match: '([[:alpha:]][[:alnum:]_]*)\b\s*(\(|\(\s*\{|\{\s*\()'
                captures:
                    1:
                        name: entity.name.function.user

            -
                # yamllint disable-line rule:line-length
                match: '([[:alpha:]][[:alnum:]_]*)\b\s*=\s*\{?\s*(\([^\(]+\)|[[:alpha:]][[:alnum:]_]*)\s*-\s*>'
                captures:
                    1:
                        name: entity.name.function.user.lambda
