# yamllint disable rule:line-length
---
repository:
    functions:
        patterns:
            - include: "#builtins"
            - include: "#user-defined"

        repository:
            builtins:
                patterns:
                    -
                        match: '\b({{ scopes["entity.name.function"] | join("|") }})\b\s*(?={|\()'
                        captures:
                            1:
                                name: entity.name.function.builtins
                    -
                        match: '\b({{ scopes["constant.language"] | join("|") }})\b\s*(\(\)|\{\}|\(\{\}\)|\{\(\)\})?'
                        captures:
                            1:
                                name: constant.language
                    -
                        match: '\b({{ scopes["keyword.control"] | join("|") }})\b'
                        captures:
                            1:
                                name: keyword.control
                    -
                        match: '\.({{ scopes["entity.name.function.member"] | join("|") }})\b'
                        captures:
                            1:
                                name: entity.name.function.member.builtins

            user-defined:
                patterns:
                    -
                        match: '([[:alpha:]][[:alnum:]_]*)\b\s*(\(|\(\s*\{|\{\s*\()'
                        captures:
                            1:
                                name: entity.name.function.user

                    -
                        match: '([[:alpha:]][[:alnum:]_]*)\b\s*=\s*\{?\s*(\([^\(]+\)|[[:alpha:]][[:alnum:]_]*)\s*-\s*>'
                        captures:
                            1:
                                name: entity.name.function.user.lambda
