# yamllint disable rule:line-length
---
repository:
    meta-commands:
        patterns:
            -
                match: '^(\s*)(##(?=\s*$)|#(?=\s*$)|\{{ scopes["support.function"] | join("|\\") }})'
                captures:
                    1:
                        name: constant.character.whitespace.parigp
                    2:
                        name: support.function.parigp
