---
repository:
    type-hints:
        patterns:
            -
                match: '(\s*)\b({{ scopes["support.type"] | join("|") }})\b'
                captures:
                    1:
                        name: keyword.operator.cardinality.parigp
                    2:
                        name: support.type.parigp
