---
repository:
    type-hints:
        patterns:
            -
                match: '\:\s*\b({{ scopes["support.type"] | join("|") }})\b'
                captures:
                    1:
                        name: support.type.parigp
